.move-in-left {
  animation-name: move-in-left;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes move-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes move-in-right {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
