@import "./variables.scss";

.button-regular {
  border: 0;
  padding: 10px;
  border-radius: 10px;
  color: green;
  background-color: aquamarine;

  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 90px;
    transition: all 0.2s;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgb(0, 0, 0, 0.2);
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
  }
}

.button-shadow {
  box-shadow: 0 8px 8px -4px lightblue;

  :active {
    transform: scale(0.98);
    box-shadow: 0 8px 8px -4px rgb(91, 114, 122);
  }
}
